<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:supportsRtl="true">

      <meta-data
      android:name="com.adgeistkit.ads.APP_ID"
      android:value="68f91f09c40a64049896acab"/>

      <meta-data
      android:name="com.adgeistkit.ads.API_KEY"
      android:value="1b8eac4512740be0ff678cd2549607b49b51ebd5f9496d83359454ce83b1b57c"/>

      <meta-data
          android:name="com.adgeistkit.ads.ORIGIN"
          android:value="https://adgeist-ad-integration.d49kd6luw1c4m.amplifyapp.com/"
      />

      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>
